// Body
$body-bg: #f8fafc;

// Typography
$font-family: 'Roboto','Open Sans',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.5;

$font-title: 1rem;


$font-sm: 0.75rem;
$font-nl: 1rem;
$font-md: 1.125rem;
$font-lg: 1.5rem;
$font-xlg: 2rem;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// primary colors
$color-dark-01: #0f1018;
$color-white-01: #FFFFFF;

$color-white-02: #afafaf;
$color-dark-02: #14151f;

$color-white-03: #797979;
$color-dark-03: #7c7c7c;

// cutom
$color-footer-text: #828a9c;
$color-title: #2f323c;
$color-text: #7e818c;

// secondary colors
$color-blue-dark: #2231aa;
$color-blue-pure: #3c4baa;
$color-blue-light: #686daa;

// auxiliary colors
$color-orange-dark: #ff7733;
$color-orange-pure: #ff915a;
$color-orange-light: #ffb899;

// 
$header-height: 4.37rem;


// shodow
$box-shadow-card: 0 3px 5px rgb(0 1 1 / 10%);