.header {
    width: 100%;
    height: $header-height;
    box-shadow: $box-shadow-card;

    // &__container {
    //     position: relative;
    // }

    .nav {
        background-color: $color-white-01;
        height: $header-height;

        display: flex;

        align-items: center;
        justify-content: space-between;

        @include breakpoint-up('large') {}

        &__logo {
            flex: 1 1 20%;
            &--wrapper {}

            &--link {
                display: flex;
                align-items: center;
                gap: .5rem;

                text-decoration: none;
                background-color: transparent;
            }

            &--image {
                object-fit: cover;
                aspect-ratio: 1 / 1;
                height: 42px;
                width: 42px;
            }

            &--text {
                font-size: 1.65rem;
                line-height: 1.1;
                color: $color-blue-pure !important;
            }
        }

        &__main {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            flex: 1 1 auto;

            position: absolute;
            top: $header-height;
            left: 100%;
            background-color: $color-white-01;
            width: 100%;
            height: 100%;
            transition: left .6s ease-in-out;
            // height: 100vh;

            @include breakpoint-up('large') {
                justify-content: space-between;
                flex-direction: row;
                position: unset;
            }

            &.open {
                left: 30%;
            }

            &--left {
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                width: 100%;
                gap: 1rem;

                padding-left: 32px;

                @include breakpoint-up('large') {
                    width: auto;
                    align-items: center;
                    margin-right: auto;
                    flex-direction: row;
                    justify-content: flex-start;
                }
            }

            &--right {
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                width: 100%;
                gap: 1rem;

                padding-left: 32px;
                
                @include breakpoint-up('large') {
                    margin-left: auto;
                    flex-direction: row;
                    justify-content: flex-end;
                }
            }
        }



        &__item {}

        &__link {
            font-size: 1rem;
            font-weight: 600;
            color: $color-dark-01;
            cursor: pointer;

            width: 100%;

            &:hover {
                color: $color-blue-pure;
            }
        }

        &__hamburger {
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            padding: 0;

            @include breakpoint-up('large') {
                display: none;
            }

            .line {
                fill: none;
                stroke: $color-title;
                stroke-width: 6;
                transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

                &1 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }

                &2 {
                    stroke-dasharray: 60 60;
                    stroke-width: 6;
                }

                &3 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }
            }

            &.open .line {
                &1 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }

                &2 {
                    stroke-dasharray: 1 60;
                    stroke-dashoffset: -30;
                    stroke-width: 6;
                }

                &3 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
            }
        }

        //search
        &__search {
            &--form {
                display: flex;
            }

            &--input,
            &--btn {
                outline: none;
                border: none;
                padding: .5rem;
                height: 2rem;
            }

            &--input {
                background-color: rgba($color-white-02, .1);
                color: $color-white-01;
            }

            &--btn {
                background-color: $color-blue-pure;
                color: $color-white-01;
                cursor: pointer;

                &:hover {
                    background-color: $color-blue-dark;
                }
            }
        }

    }

    .dropdown {
        position: relative;

        &__text {
            cursor: pointer;
        }

        &__item{
            
            cursor: pointer;
            &:hover{
                background-color: rgba($color-text, .2);  
                position: relative;        
                
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 4px;
                    background-color: $color-blue-pure;
                }
            }
            a{
                display: block;
                height: 100%;
                padding: 1rem;
            }
        }

        &__content {
            display: none;
            position: relative;
            padding: 10px 0;
            // border: 1px solid red;
            margin-left: -32px;

            // width: 100%;
            top: calc($header-height / 2);
            // left: 0;
            background-color: $color-white-01;

            &::before{
                content: "";
                position: absolute;
                top: -8px;
                right:0;
                // background-color: red;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom:  10px solid $color-white-01;
            }

            &.active {
                display: inline-block;
                width: 100%;
                box-shadow: 0 0 20px 4px rgb(154 161 177 / 15%), 0 4px 80px -8px rgb(36 40 47 / 25%), 0 4px 4px -2px rgb(91 94 105 / 15%);

                @include breakpoint-up('large') {
                    position: absolute;
                    width: 200px;
                    box-shadow: 0 0 20px 4px rgb(154 161 177 / 15%), 0 4px 80px -8px rgb(36 40 47 / 25%), 0 4px 4px -2px rgb(91 94 105 / 15%);
                }
            }

            &.dropleft {
                left: 0%;
            }

            &.dropright {
                right: 0%;
            }
        }

    }
}
