.header {
    width: 100%;
    height: $header-height;
    background-color: $color-white-01;
    border-bottom: 1px solid whitesmoke;
    color: $color-title;
    // position: fixed;
    // top: 0;
    &__container{
        position: relative;
    }

    .nav {
        display: flex;
        align-items: center;
       
        position: relative;
        border: 1px solid red;

        @include breakpoint-up('large'){
            height: $header-height;
        }

        &__logo{
            flex: auto;
            border: 1px solid green;
        }

        &__main{       
            position: absolute;
            top: $header-height;
            right: 0;
            left: 0;
            z-index: 80;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            background: $color-white-01;
            opacity: 1;      
            
            &.open{
                top: $header-height;
                position: fixed;
            }

            @include breakpoint-up('large'){
                position: unset;
                display: inline-block;
                vertical-align: middle;
                flex: 1 1 0%;
            }

            &--dropdown{
                position: relative;
                &.active{
                    visibility: visible;
                    transform: translateY(-12px);
                    opacity: 1;
                    pointer-events: auto;
                }

                &::before{
                    content: "";
                    width: 95px;
                    height: 2px;
                    background: $color-blue-pure;
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                }
            }
        }

        &__link{
            position: relative;
            display: inline-block;
            margin-right: auto;
        }

        &__link{
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.3;
            letter-spacing: .2px;
            text-align: left;
        }

        &__hamburger {
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            padding: 0;

            @include breakpoint-up('large') {
                display: none;
            }

            .line {
                fill: none;
                stroke: $color-title;
                stroke-width: 6;
                transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

                &1 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }

                &2 {
                    stroke-dasharray: 60 60;
                    stroke-width: 6;
                }

                &3 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }
            }

            &.open .line {
                &1 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }

                &2 {
                    stroke-dasharray: 1 60;
                    stroke-dashoffset: -30;
                    stroke-width: 6;
                }

                &3 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
            }
        }

        //search
        &__search {
            &--form {
                display: flex;
            }

            &--input,
            &--btn {
                outline: none;
                border: none;
                padding: .5rem;
                height: 2rem;
            }

            &--input {
                background-color: rgba($color-white-02, .1);
                color: $color-white-01;
            }

            &--btn {
                background-color: $color-blue-pure;
                color: $color-white-01;
                cursor: pointer;

                &:hover {
                    background-color: $color-blue-dark;
                }
            }
        }

    }
}
