@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;500;600;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.5;
  color: #2f323c;
  position: relative;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.link:visited,
.link:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 64em) {
  .container {
    width: 80%;
  }
}

.color-blue-dark {
  color: #3c4baa;
}

::-moz-selection {
  background-color: #3c4baa;
  color: #FFFFFF;
}

::selection {
  background-color: #3c4baa;
  color: #FFFFFF;
}

ul,
li {
  list-style: none;
}

.header-text {
  font-size: 1.3rem;
  font-weight: 600;
}

.text-small {
  font-size: 0.75rem;
}

.text-grey {
  color: #7e818c;
}

.link {
  color: #3c4baa !important;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.link-back {
  position: relative;
}

.link-back::before,
.link-back::after {
  content: "";
  display: block;
  left: -0.55rem;
  position: absolute;
  top: 50%;
  transition: left 0.1s;
}

.link-back::before {
  border-style: solid;
  border-width: 0 0 2px 2px;
  height: 6px;
  margin-top: -3px;
  width: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.link-back:hover::before {
  left: -1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-rendering: optimizeLegibility;
}

.main-layout .main {
  min-height: 75vh;
  padding: 0 0 2rem;
}

.error-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: #7c7c7c;
}

.error__status {
  font-size: 9em;
  font-weight: 600;
  line-height: 1.1;
}

.error__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.error__text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.error__btn {
  display: inline-block;
  font-weight: 600;
  height: 2.5rem;
  background-color: #3c4baa;
  color: #FFFFFF;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.error__btn:hover {
  background-color: #2231aa;
}

.header {
  width: 100%;
  height: 4.37rem;
  box-shadow: 0 3px 5px rgba(0, 1, 1, 0.1);
  background-color: #FFFFFF;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 4.37rem;
  /*****/
}

@media (max-width: 63.9375em) {
  .header .nav {
    position: relative;
    min-height: 100%;
  }
}

.header .nav__logo {
  flex: 0 0 auto;
}

.header .nav__logo--text {
  font-size: 1.65rem;
  line-height: 1.1;
  color: #3c4baa;
}

.header .nav__main {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 63.9375em) {
  .header .nav__main {
    flex-direction: column;
    position: absolute;
    top: 4.37rem;
    justify-content: left;
    align-items: flex-start;
    left: 300%;
    width: 100%;
    padding: 1rem 0;
    background-color: #FFFFFF;
    min-height: 100vh;
    transition: left 0.6s ease-in-out;
    padding-left: 1rem;
  }

  .header .nav__main.open {
    left: 30%;
  }
}

.header .nav__main--left,
.header .nav__main--right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 63.9375em) {
  .header .nav__main--left,
  .header .nav__main--right {
    flex-direction: column;
    width: 100%;
  }
}

.header .nav__hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

@media (min-width: 64em) {
  .header .nav__hamburger {
    display: none;
  }
}

.header .nav__hamburger .line {
  fill: none;
  stroke: #2f323c;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .nav__hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.header .nav__hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.header .nav__hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.header .nav__hamburger.open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.header .nav__hamburger.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.header .nav__hamburger.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.header .nav__item {
  width: 100%;
}

.header .nav__link {
  font-size: 1rem;
  font-weight: 600;
  color: #0f1018;
  cursor: pointer;
}

.header .nav__link:hover {
  color: #3c4baa;
}

.header .nav__search--form {
  display: flex;
}

.header .nav__search--input,
.header .nav__search--btn {
  outline: none;
  border: none;
  padding: 0.5rem;
  height: 2rem;
}

.header .nav__search--input {
  background-color: rgba(126, 129, 140, 0.2);
  color: #0f1018;
}

.header .nav__search--btn {
  background-color: #3c4baa;
  color: #FFFFFF;
  cursor: pointer;
}

.header .nav__search--btn:hover {
  background-color: #2231aa;
}

.header .nav .btn {
  height: 2rem;
  width: auto !important;
  min-width: 6rem !important;
}

.header .dropdown {
  position: relative;
  cursor: pointer;
}

.header .dropdown__text {
  position: relative;
}

.header .dropdown__text::after {
  content: "\2039";
  position: absolute;
  margin-right: -1rem;
  font-size: 1.2rem;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .dropdown__text.active::after {
  content: "\2039";
  transform: rotate(90deg);
}

.header .dropdown__item {
  cursor: pointer;
}

.header .dropdown__item:hover {
  background-color: rgba(126, 129, 140, 0.2);
  position: relative;
}

.header .dropdown__item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: #3c4baa;
}

.header .dropdown__item a {
  display: block;
  height: 100%;
  padding: 1rem;
}

.header .dropdown__content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  top: 2.185rem;
  transition: all 0.6 ease-in-out;
}

.header .dropdown__content::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
}

.header .dropdown__content.active {
  display: inline-block !important;
  width: auto;
  min-width: 100px;
}

@media (max-width: 63.9375em) {
  .header .dropdown__content.active {
    position: absolute;
  }
}

.header .dropdown__content.dropleft {
  left: 0%;
}

.header .dropdown__content.dropright {
  right: 0%;
}

.footer__top {
  width: 100%;
  padding: 2rem 0;
  color: #828a9c;
  background: #0f1018;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__link {
  color: #828a9c !important;
  transition: color 0.15s ease-in;
}

.footer__link:hover {
  color: #FFFFFF !important;
}

.footer__grid {
  display: grid;
  grid-template-areas: "logo logo" "col1 col2" "col3 col4" "social social";
  gap: 2rem;
}

@media (min-width: 64em) {
  .footer__grid {
    grid-template-areas: "logo col1 col2 col3 col4 social";
  }
}

.footer__grid .col h2 {
  color: #FFFFFF;
  font-size: 0.97rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer__grid .col ul {
  list-style: none;
}

.footer__grid .col li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer__grid--logo {
  grid-area: logo;
}

.footer__grid--logo h1 {
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.footer__grid--logo .text-small {
  max-width: 600px;
}

@media (min-width: 64em) {
  .footer__grid--logo {
    align-self: initial;
    justify-self: initial;
  }

  .footer__grid--logo .text-small {
    max-width: 250px;
  }
}

.footer__grid--col1 {
  grid-area: col1;
}

.footer__grid--col2 {
  grid-area: col2;
}

.footer__grid--col3 {
  grid-area: col3;
}

.footer__grid--col4 {
  grid-area: col4;
}

.footer__grid--social {
  grid-area: social;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 64em) {
  .footer__grid--social {
    flex-direction: column;
    align-self: initial;
    justify-self: right;
  }
}

.footer__grid--social.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer__grid--social.icons .btn-icon {
  background-color: #828a9c;
  width: 32px;
  height: 32px;
  font-size: 1.252rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #14151f;
  padding: 1rem;
}

.footer__grid--social.icons .btn-icon:first-child:hover {
  background-color: #cd486b;
  color: #FFFFFF;
}

.footer__grid--social.icons .btn-icon:nth-child(2):hover {
  background-color: #3b5998;
  color: #FFFFFF;
}

.footer__grid--social.icons .btn-icon:nth-child(3):hover {
  background-color: #0e76a8;
  color: #FFFFFF;
}

.footer__grid--social.icons .btn-icon:nth-child(4):hover {
  background-color: #000;
  color: #FFFFFF;
}

.footer__bottom {
  width: 100%;
  color: #797979;
  background: #0f1018;
  padding: 2rem 0;
}

@media (min-width: 40em) {
  .footer__bottom {
    background: #14151f;
    padding: 1rem 0;
  }
}

.footer__bottom--copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
}

@media (min-width: 64em) {
  .footer__bottom--copy {
    flex-direction: row;
    text-align: initial;
  }
}

.subscribe {
  background: whitesmoke;
  padding: 4rem 0;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}

@media (min-width: 40em) {
  .subscribe__content {
    flex-direction: row;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}

.subscribe__content h3 {
  font-size: 1.6rem;
}

.subscribe__content--form {
  display: flex;
}

.subscribe__content--input,
.subscribe__content--btn {
  outline: none;
  border: none;
  padding: 0.5rem;
  height: 2.5rem;
}

.subscribe__content--input {
  background-color: rgba(20, 21, 31, 0.1);
  color: #0f1018;
  width: 16rem;
}

.subscribe__content--btn {
  background-color: #3c4baa;
  color: #FFFFFF;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}

.subscribe__content--btn:hover {
  background-color: #2231aa;
}

.blogCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 5px rgba(0, 1, 1, 0.1);
}

@media (min-width: 40em) {
  .blogCard {
    flex-direction: row;
  }
}

.blogCard__image {
  flex: 1;
}

.blogCard__image .loaded {
  height: 100%;
  width: auto;
}

.blogCard__image .placeholder {
  height: 100%;
  width: auto;
  background-color: #7e818c;
}

.blogCard__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.4/1;
}

.blogCard__content {
  padding: 1rem;
  flex: 2;
}

.blogCard__content--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7e818c;
  margin-bottom: 1rem;
}

.blogCard__content--header {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.1;
  color: #2f323c;
}

.blogList {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  gap: 1rem;
}

@media (min-width: 40em) {
  .blogList {
    grid-template-columns: 1fr;
  }
}

.blogPage__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 40em) {
  .blogPage__container {
    flex-direction: row;
  }
}

@media (min-width: 64em) {
  .blogPage__container {
    gap: 2rem;
  }
}

.blogPage__sidebar {
  flex: 2;
  padding: 1rem;
  background-color: whitesmoke;
}

.blogPage__sidebar--recent .recent {
  display: flex;
  padding: 1rem 0;
  gap: 0.5rem;
  line-height: 1.1;
}

.blogPage__content {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.blogPage__content--image {
  margin-bottom: 2rem;
}

.blogPage__content--image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.blogPage__content--title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

.pagination {
  list-style: none;
  display: flex;
  margin-top: 1rem;
}

.pagination .page-item {
  cursor: pointer;
}

.pagination .page-item:not(:first-child) {
  border-left: 1px solid rgba(15, 16, 24, 0.1);
}

.pagination .page-item:not(:last-child) {
  border-right: 1px solid rgba(15, 16, 24, 0.1);
}

.pagination .active {
  background-color: #3c4baa;
}

.pagination .active .page-link {
  color: #fff !important;
}

.pagination .pagination-page-nav:hover {
  background-color: #686daa;
}

.pagination .pagination-page-nav:hover .page-link {
  color: #fff !important;
}

.pagination .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #7c7c7c;
}

.hero {
  width: 100%;
  min-height: 300px;
  color: #FFFFFF;
  background: linear-gradient(to left bottom, rgba(255, 184, 153, 0.6), rgba(34, 49, 170, 0.9));
  display: flex;
  align-items: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  text-align: center;
}

.hero__title {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.1;
}

.hero__subtitle {
  max-width: 400px;
  align-self: center;
}

.hero__actions .btn {
  font-weight: 600;
}

.hero__actions .btn:hover {
  background-color: #686daa;
}

.featured {
  width: 100%;
  padding: 2rem 0;
}

.featured__content--grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 64em) {
  .featured__content--grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .featured__content--grid > :first-child {
    flex-direction: column;
    grid-column: span 3;
    grid-row: span 3;
  }

  .featured__content--grid > :not(:first-child) {
    flex: 1;
    grid-column: span 3;
  }
}

.featured__title {
  color: #797979;
  margin-bottom: 2rem;
}

.banner {
  width: 100%;
  min-height: 300px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__container {
  height: 100%;
}

.banner__content {
  display: flex;
  flex-direction: column;
}

.latest {
  width: 100%;
  padding: 2rem 0 0;
}

.latest__title {
  color: #797979;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest__content--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.auth {
  margin-top: 4rem;
}

.auth__card {
  border: 1px solid #E0E0E0;
  padding: 4rem;
}

.auth__content {
  box-shadow: 0 3px 5px rgba(0, 1, 1, 0.1);
  border: 1px solid #E0E0E0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 64em) {
  .auth__content {
    grid-template-columns: 1fr 1.5fr;
  }
}

.auth__content--figure {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left bottom, rgba(104, 109, 170, 0.6), rgba(34, 49, 170, 0.9));
  color: #FFFFFF;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  display: none;
}

@media (min-width: 64em) {
  .auth__content--figure {
    padding: 4rem;
    justify-content: end;
    display: flex;
  }
}

.auth__content--form {
  padding: 2rem;
}

@media (min-width: 40em) {
  .auth__content--form {
    padding: 4rem;
  }
}

.auth__content--or {
  color: #7e818c;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.auth__content--or > span:first-child {
  height: 2px;
  background: rgba(126, 129, 140, 0.3);
  width: 100%;
}

.auth__content--or > span:last-child {
  height: 2px;
  background: rgba(126, 129, 140, 0.3);
  width: 100%;
}

.auth__content--oauth {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth__content--text {
  margin-top: 2rem;
  text-align: center;
}

.form-group {
  margin: 1rem 0;
}

.form-control {
  outline: none;
  border: none;
  width: 100%;
  padding: 1rem;
  background: whitesmoke;
}

.is-invalid {
  outline: crimson;
  border: 2px solid rgba(220, 20, 60, 0.3);
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group__prepend {
  padding: 0 1rem;
  background: #dadada;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.invalid-feedback {
  font-size: 0.75rem;
  color: crimson;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  min-width: 10rem;
  height: 2.75rem;
  padding: 0.4rem;
  cursor: pointer;
  font-weight: 600;
}

.btn.btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.btn.btn-primary {
  background-color: #3c4baa;
  color: #FFFFFF;
}

.btn.btn-primary:hover {
  background-color: #2231aa;
}

.btn.btn-block {
  width: 100%;
}

.btn.btn-google {
  position: relative;
  background-color: #db4437;
  color: #FFFFFF;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.btn.btn-google .icon {
  margin: 0 1rem;
}

.btn.btn-google .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn.btn-google:hover {
  background-color: #e05548;
}

.btn.btn-facebook {
  position: relative;
  background-color: #3b5c9f;
  color: #FFFFFF;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.btn.btn-facebook .icon {
  margin: 0 1rem;
}

.btn.btn-facebook .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn.btn-facebook:hover {
  background: #4267B2;
}

