@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;500;600;700&display=swap);*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.6;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.link:visited,
.link:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 64em) {
  .container {
    width: 80%;
  }
}

.color-blue-dark {
  color: #3c4baa;
}

::-moz-selection {
  background-color: #3c4baa;
  color: #FFFFFF;
}

::selection {
  background-color: #3c4baa;
  color: #FFFFFF;
}

.main-layout .main {
  min-height: 75vh;
  padding: 2rem 0;
}

.error-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: #7c7c7c;
}

.error__status {
  font-size: 9em;
  font-weight: 600;
  line-height: 1.1;
}

.error__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.error__text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.error__btn {
  display: inline-block;
  font-weight: 600;
  height: 2.5rem;
  background-color: #3c4baa;
  color: #FFFFFF;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.error__btn:hover {
  background-color: #2231aa;
}

.header {
  width: 100%;
  height: 3.5rem;
  background-color: #0f1018;
  color: #afafaf;
  display: flex;
  justify-content: initial;
  align-items: center;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.header .nav__menu {
  list-style: none;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.header .nav__link {
  color: #afafaf;
  font-weight: 500;
}

.header .nav__link:hover {
  color: #3c4baa;
}

.header .nav__search--form {
  display: flex;
}

.header .nav__search--input,
.header .nav__search--btn {
  outline: none;
  border: none;
  padding: 0.5rem;
  height: 2rem;
}

.header .nav__search--input {
  background-color: rgba(175, 175, 175, 0.1);
  color: #FFFFFF;
}

.header .nav__search--btn {
  background-color: #3c4baa;
  color: #FFFFFF;
  cursor: pointer;
}

.header .nav__search--btn:hover {
  background-color: #2231aa;
}

.footer__top {
  width: 100%;
  padding: 2rem 0;
  color: #afafaf;
  background: #0f1018;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__link {
  color: #797979;
}

.footer__link:hover {
  color: #3c4baa;
}

.footer__grid {
  display: grid;
  grid-template-areas: "logo logo" "col1 col2" "col3 col4" "social social";
  gap: 2rem;
}

@media (min-width: 64em) {
  .footer__grid {
    grid-template-areas: "logo col1 col2 col3 col4 social";
  }
}

.footer__grid .col h2 {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer__grid .col ul {
  list-style: none;
}

.footer__grid .col li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer__grid--logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
}

@media (min-width: 64em) {
  .footer__grid--logo {
    align-self: initial;
    justify-self: initial;
  }
}

.footer__grid--col1 {
  grid-area: col1;
}

.footer__grid--col2 {
  grid-area: col2;
}

.footer__grid--col3 {
  grid-area: col3;
}

.footer__grid--col4 {
  grid-area: col4;
}

.footer__grid--social {
  grid-area: social;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 64em) {
  .footer__grid--social {
    flex-direction: column;
    align-self: initial;
    justify-self: right;
  }
}

.footer__grid--social.btn {
  display: inline-block;
  background: transparent;
  border: 1.5px solid #afafaf;
  color: #afafaf;
  border-radius: 4px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all ease-in-out 0.6s;
}

.footer__grid--social.btn:hover {
  color: #14151f;
  background: #afafaf;
}

.footer__grid--social.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer__grid--social.icons .btn-icon {
  color: #afafaf;
  font-size: 2rem;
}

.footer__grid--social.icons .btn-icon:hover {
  color: #3c4baa;
}

.footer__bottom {
  width: 100%;
  color: #797979;
  background: #0f1018;
  padding: 2rem 0;
}

@media (min-width: 40em) {
  .footer__bottom {
    background: #14151f;
    padding: 1rem 0;
  }
}

.footer__bottom--copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  align-items: center;
  text-align: center;
}

@media (min-width: 64em) {
  .footer__bottom--copy {
    flex-direction: row;
    text-align: initial;
  }
}

.subscribe {
  background: whitesmoke;
  padding: 4rem 0;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}

@media (min-width: 40em) {
  .subscribe__content {
    flex-direction: row;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}

.subscribe__content h3 {
  font-size: 1.6rem;
}

.subscribe__content--form {
  display: flex;
}

.subscribe__content--input,
.subscribe__content--btn {
  outline: none;
  border: none;
  padding: 0.5rem;
  height: 2.5rem;
}

.subscribe__content--input {
  background-color: rgba(20, 21, 31, 0.1);
  color: #0f1018;
  width: 16rem;
}

.subscribe__content--btn {
  background-color: #3c4baa;
  color: #FFFFFF;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}

.subscribe__content--btn:hover {
  background-color: #2231aa;
}

.blogList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 40em) {
  .blogList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .blogList {
    grid-template-columns: repeat(4, 1fr);
  }
}

.blogCard {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
}

.blogCard:hover {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media (min-width: 40em) {
  .blogCard {
    flex-direction: column;
  }
}

.blogCard__image {
  height: 100%;
  width: 100%;
}

.blogCard__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogCard__content {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blogCard__content--top {
  display: flex;
  justify-content: space-between;
  color: #797979;
  font-size: 0.75rem;
}

.blogCard__content--header {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.1;
}

.blogPage__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 40em) {
  .blogPage__container {
    flex-direction: row;
  }
}

@media (min-width: 64em) {
  .blogPage__container {
    gap: 2rem;
  }
}

.blogPage__sidebar {
  flex: 2;
  padding: 1rem;
  background-color: whitesmoke;
}

.blogPage__content {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.blogPage__content--image {
  margin-bottom: 2rem;
}

.blogPage__content--image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.blogPage__content--title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

.pagination {
  list-style: none;
  display: flex;
  margin-top: 1rem;
}

.pagination .page-item {
  cursor: pointer;
}

.pagination .page-item:not(:first-child) {
  border-left: 1px solid rgba(15, 16, 24, 0.1);
}

.pagination .page-item:not(:last-child) {
  border-right: 1px solid rgba(15, 16, 24, 0.1);
}

.pagination .active {
  background-color: #3c4baa;
}

.pagination .active .page-link {
  color: #fff !important;
}

.pagination .pagination-page-nav:hover {
  background-color: #686daa;
}

.pagination .pagination-page-nav:hover .page-link {
  color: #fff !important;
}

.pagination .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #7c7c7c;
}

